<div class="fin-partida-container">
    <h1>Fin de la Partida</h1>
    <h2>{{mensaje}}</h2>

    <p>Preguntas respondidas: <strong>{{respondidas}}</strong></p>
    <p>Respuestas correctas: <strong>{{correctas}}</strong></p>


    <h4>Redirigiendo al lobby en <span id="redirect-countdown">5</span> segundos...</h4>
</div>

<script>
    let tiempoRedirigir = 10;
    const redirectCountdownSpan = document.getElementById("redirect-countdown");
    redirectCountdownSpan.textContent = tiempoRedirigir;

    const intervaloRedirect = setInterval(() => {
        tiempoRedirigir--;
        redirectCountdownSpan.textContent = tiempoRedirigir;
        if (tiempoRedirigir <= 0) {
            clearInterval(intervaloRedirect);
            // Redirigir al lobby
           window.location.href = '/triviados/Lobby/show';
        }
    }, 1000);
</script>
