<div class = "footer">
    <img class="letrafooter" src="/triviados/media/letrarecortada.png" alt="letrafooter">
    <span>Todos los derechos reservados </span>
    <span>Politica de Privacidad</span>
    <span>Condiciones de Servicio</span>
    <div class="redes">
        <img src="/triviados/media/facebook.png" alt="facebook">
        <img src="/triviados/media/twitter.png" alt="twitter">
        <img src="/triviados/media/instagram.png" alt="instagram">
        <img src="/triviados/media/tiktok.png" alt="tiktok">
    </div>
</div>
</body>
</html>