<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Triviados</title>
    <link href="/triviados/styles/styles.css" rel="stylesheet"/>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

<div class="header">
    <div class="logo">
        <img class="icono" src="/triviados/media/logo.png" alt="logo">
        <img class="letra" src="/triviados/media/letrarecortada.png" alt="letra">
    </div>
</div>