
  <div class="container">

    <div class="login-box">

        {{#mensaje}}
            <div style="background-color: #d4edda; color: #155724; padding: 10px 15px; border: 1px solid #c3e6cb; border-radius: 5px; margin-bottom: 15px; text-align: center;">
                {{mensaje}}
            </div>
        {{/mensaje}}

      <h2>Iniciá Sesión</h2>
        <form action="/triviados/Login/ejecutarLogin" method="POST">
        <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>
      <button type="submit" value="Submit">Ingresar</button>
      <div class="remember">
        <input type="checkbox" id="remember">
        <label for="remember">Recordar</label>
      </div>
      </form>
      <div class="bottom-text">¿No tenes una cuenta?
        <a href="/triviados/Register/show" class="registrar">Registrarme</a>
       </div>
    </div>
  </div>

