<div class="partida-container">
    <h2>Pregunta</h2>
    <p>{{pregunta}}</p>

    <form method="post" action="/triviados/Partida/responderPregunta">
        <input type="hidden" name="id_pregunta" value="{{id_incremental}}">
        {{#opciones}}
            <label>
                <input type="radio" name="opcion" value="{{id_incremental}}" required>
                {{opcion}}
            </label>
        {{/opciones}}

        <button type="submit">Responder</button>
    </form>
</div>