<div class="partida-container">
    <img src="../media/{{nombre_categoria}}.png" alt="{{nombre_categoria}}">
    <h2>Pregunta de {{nombre_categoria}}</h2>
    <p>{{pregunta}}</p>

    <div class="tiempo_restante">
        Tiempo restante: <span id="countdown">30</span> segundos
    </div>

    <form id="formulario-respuesta" method="post" action="/triviados/Partida/responderPregunta">
        <input type="hidden" name="id_pregunta" value="{{id_incremental}}">
            {{#opciones}}
                <label style="background-color: {{color_categoria}}">
                    <input type="radio" name="opcion" value="{{id_incremental}}">
                    {{opcion}}
                </label><br>
            {{/opciones}}
        <button type="submit">Responder</button>
    </form>
    <p>Racha actual: {{correctas}}</p>
</div>

<script>
    let tiempoRestante = 30;

        {{#hora_inicio_pregunta}}
        const tiempoInicio = {{hora_inicio_pregunta}};
        const tiempoAhora = Math.floor(Date.now() / 1000);
        const transcurrido = tiempoAhora - tiempoInicio;
        tiempoRestante = 30 - transcurrido;
        if (tiempoRestante < 0) tiempoRestante = 0;
        {{/hora_inicio_pregunta}}

    const countdownSpan = document.getElementById("countdown");

    const intervalo = setInterval(() => {
        tiempoRestante--;
        countdownSpan.textContent = tiempoRestante;

        if (tiempoRestante <= 0) {
            clearInterval(intervalo);
            document.getElementById("formulario-respuesta").submit();
        }
    }, 1000);
</script>