<h2 style="color:white; text-align:center">Tu Pregunta fue creada y esta a la espera de que un editor la veifique</h2>
<div class="botonesAVerificar">
    <a href="/triviados/CrearPregunta/show" class="big btn">Crea Otra Pregunta</a>
    <a href="/triviados/Lobby/show" class="big btn">Volver al Lobby</a>
</div>