<div style="display: flex; justify-content: flex-end; margin: 10px 20px;">
    <a href="/triviados/Lobby/show" class="btn">Volver al Lobby</a>
</div>

<h2 style="color: #007bff;">🏆 Ranking por Puntaje</h2>
<ol>
{{#ranking_puntaje}}
    <li style="font-size: 1.2em;">
        <span style="color: #4CAF50;"onclick="window.location.href='/triviados/Perfil/show?nombre_usuario={{nombre_usuario}}';">{{nombre_usuario}}</span> -
        <span style="color: #FF9800;">{{total_puntaje}} puntos</span>
    </li>
{{/ranking_puntaje}}
</ol>

