<div>
<h1 style="text-align: center; color: white;">Tu cuenta ha sido validada. ¡Bienvenido a Triviados!</h1>
<a href="triviados/Login/show" style="text-align: center; "class="btn big">Inicia Sesion</a>
</div>