<div style="display: flex; justify-content: flex-end; margin: 10px 20px;">
    <a href="/triviados/Login/show" class="btn">Volver al inicio</a>
</div>
<div>
<h1 style="text-align: center; color: white;">Registro exitoso. Revisá tu correo para validar tu cuenta.</h1>
</div>